/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* css variables */

:root {
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-text: #111827;
    --clr-dark: #ececec;
    --clr-primary: #fa9639;
    --clr-accent: #f7f7f7;
}

.darkmode {
    --clr-text: #e5e7eb;
    --clr-dark: #111827;
    --clr-primary: #ad9dec;
    --clr-accent: #1f2937;
}

/* main layout */

body {
    min-height: 100svh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}


#sidebar {
    width: 300px;
    background-color: var(--clr-dark);
    grid-row: 1 / 3;
}

svg {
	width: 25px;
	height: 25px;
}

#header {
    background-color: bisque;
}

#content {
    background-color: var(--clr-accent);
}

dialog {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}


/* task card priority styles */

.low {
    background-color: rgb(157, 253, 157);
}

.moderate {
    background-color: rgb(255, 255, 113);
}

.high {
    background-color: rgb(252, 123, 123);
}

/* sidebar styling */



/* animations */

.hidden600 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.6s, opacity 0.6s ease-in-out;
  }

.hidden250 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.25s, opacity 0.25s linear;
}